.Character{
    display: flex;
    flex-direction: column;
    margin: 5px;
    text-align: center;
    width: 210px;
    margin-bottom: 20px;
    //height: 360px;
    //border: 1px solid rgb(76, 13, 248);
}